<% include header %>
<body bgcolor="#E6E6FA">
            <ol>
                <li><a href="/simpleForm">Example 1</a> - HTML Form w/o Ajax or Database Interaction</li>
                <li><a href="/user/create">Example 2</a> - Saves a sigperson to our database!</li>
                <li><a href="/user/all">Example 3</a> - Displays all users in a table</li>
				<li><a href="/user/post">Example 4</a> - Make a new Post</li>
				<li><a href="/user/dropdown">Example 5</a> - Drop down list of SigPeople.</li>
				<li><a href="/user/edituser">Example 6</a> - Update User Info</li>
				<li><a href="/user/Spouse">Add a Spouse</a> - Add a spouse.</li>
				<li><a href="/user/Initial">Example 8</a> Lab18 Joined Mega Query logic works, data funky</li>
               	<li><a href="/user/About">About Page</a> About BiggerData Co</li>
            
 
            </ol>
</body>

<% var hideBackLink = true; %>
<% include footer %>
